body {
	background: #000;
	font-size: 13px;
	line-height: 24px;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: #fff;
}

.collapse {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.logo-calisia {
	width: 210px;
	padding-bottom: 15px;
}

.header {
	background: #000;
	top: 0;
	width: 100%;
	z-index: 999;
	position: sticky;
	padding-top: 10px;
	z-index: 999;
}

.navbar-collapse {
	display: flex;
	flex-wrap: wrap;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.navbar-default {
	background: none;
	border: none;
	margin-top: 10px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin-left: 20px;
	transition: all 0.5s ease-in-out;
	border: 1px solid #000;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a.active {
	color: #f5f5f5;
	border: 1px solid #a48044;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: none;
	border: 1px solid #a48044;
	color: #FFFFFF;
}

.deadline {
	color: #a48044;
	font-size: 20px;
	font-weight: 900;
	background-color: #fff;
	opacity: 80%;
}

.tp-banner-container {
	width: 100%;
	position: relative;
	padding: 0;
}

.footer-wrapper {
	display: block;
	padding: 10px 0;
	position: relative;
	background-color: #000;
}

.footer-wrapper img {
	padding: 15px;
}

.footer-wrapper p {
	font-weight: 600;
	font-size: 11px;
	color: #FFF;
}

.footer .socialFooter {
	margin: 0 auto;
	text-align: center;
}

.socialFooter .fa {
	color: hsla(0, 0%, 100%, .8);
	font-size: 20px;
	margin: 20px 0 20px 10px;
	transition: all 0.3s ease-in-out;
}

.fa:hover {
	color: #a48044;
}

.fa:visited {
	color: #fff;
}

.footer-s-1 {
	font-size: 15px;
	color: hsla(0, 0%, 100%, .8);
}

.footer-s-2 {
	font-size: 13px;
	color: hsla(0, 0%, 100%, .8);
}

.footer-span {
	color: #a48044;
	font-size: 15px;
}

.fa-angle-up {
	color: #fff;
}

.home-image {
	background-image: url('slider-images/IMG_8448-male.jpg');
	background-size: cover;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: 0 -270px;
}

.home-content {
	padding-bottom: 150px;

}

.tp-caption .topline,
.tp-caption .bottomline {
	width: 400px;
}

.h2-index-box{
	font-size: 90px!important;
}

.logo-box{
	padding-top: 25px;
}

.deadline {
	width: 350px;
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}
.navbar-collapse{
	padding: 0!important;
}

.hamburger-list-div {
	display: none;
}

.hamburger {
	display: none;
}

.languages-2 {
	display: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

.img-logo-competition {
	width: 350px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
}

a.download-button {
	color: #a48044 !important;
	text-decoration: none !important;
	letter-spacing: 2px;
}

a.download-button:hover {
	color: #000 !important;
	text-decoration: none !important;
}

.tp-caption.rev-video h2.h2-index{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 993px) {
	.navbar-nav {
		display: none;
	}

	.container {
		height: 120px;
		padding: 0;
		width: 100%;
	}

	.hamburger-list-div {
		background-color: #000;
		width: 100%;
		color: #fff;
		position: sticky;
		margin: 0;
		display: block;
		padding: 10px;
		font-size: 18px;
		text-align: center;
		line-height: 40px;
		display: none;
	}

	.hamburger-list-div.visible {
		display: block;
	}

	.li-hamburger {
		list-style-type: none;
	}

	.int-collapse-menu {
		color: #fff;
		text-decoration: none;
		list-style-type: none;
		transition: all 0.2s ease-in-out;
	}

	.int-collapse-menu:hover {
		color: #a48044;
		text-decoration: none;
		border: #a48044 1px solid;
		padding: 8px;
	}

	.int-collapse-menu:visited {
		text-decoration: none;
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none !important;
		box-shadow: none;
	}

	.hamburger {
		display: block;
		background-color: #000;
		color: #a48044;
		font-size: 18px;
		border: 1px solid #a48044;
		box-shadow: none;
	}

}

@media (max-width: 600px) {
	.hamburger-list {
		width: 300px;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}

	.languages {
		display: none;
	}

	.languages-2 {
		border-top: #a48044 1px dotted;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	a.download-button {
		font-size: 14px;
	}

	.home-image {
		background-image: url('slider-images/IMG_8448-male.jpg');
		background-size: cover;
		height: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-position: 0 -270px;
	}
}

@media (max-width: 500px) {
	.logo-calisia {
		width: 120px;
	}

	.navbar-collapse {
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: 0;
	}

	.container {
		height: 75px;
	}

	.navbar-default {
		justify-content: space-between;
		padding: 0;
	}

	.tp-caption .topline,
	.tp-caption .bottomline {
		width: 250px;
	}

	.deadline,
	.img-logo-competition {
		width: 250px;
		margin: auto;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.tp-caption.rev-video h2.h2-index {
		font-size: 25px;
	}

	.home-image {
		background-image: url('slider-images/IMG_8448-male.jpg');
		background-size: cover;
		background-repeat: no-repeat; /* Zapobiega powtarzaniu zdjęcia */
		background-position: center top; /* Ustawia zdjęcie wyżej */
		height: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-position: -5px 0px;

		
	}

	.home-content {
		padding-bottom: 200px;
	}

	.footer-wrapper{
		padding: 0;
		
	}

	.aligncenter{
		padding-bottom: 10px;
	}
}