body {
    background: #000;
    font-size:13px;
    line-height:24px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #fff;
}	
.collapse{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.logo-calisia{
    width: 210px;
    padding-bottom: 15px;
}	
.header {	
    background:#000;	
    top:0;
    width:100%;
    z-index:999;
    position:sticky;
    padding-top:10px;
    z-index: 999;
}	
.navbar-collapse{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.navbar-default {
    background:none;
    border:none;
    margin-top:10px;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #000;
}	
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a.active {
    color:#f5f5f5;
    border: 1px solid #a48044;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background:none;
    border: 1px solid #a48044;
    color: #FFFFFF;
}
.footer-wrapper {
    display: block;
    padding: 50px 0;
    position: relative;
    background-color: #000;
}
.footer-wrapper img {
    padding: 15px;
}
.footer-wrapper p {
    font-weight: 600;
    font-size: 11px;
    color: #FFF;
}
.footer .socialFooter {
    margin: 0 auto;
    text-align: center;
}
.socialFooter .fa {
    color: hsla(0, 0%, 100%, .8);
    font-size: 20px;
    margin: 20px 0 20px 10px;
    transition: all 0.5s ease-in-out;
}
.fa:hover{
    color:#a48044;
}

.fa:visited{
    color:#fff;
}

.footer-s-1 {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .8);
}
.footer-s-2 {
    font-size: 13px;
    color: hsla(0, 0%, 100%, .8);
}
.footer-span {
    color: #a48044;
    font-size: 15px;
}
.fa-angle-up {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.transparent .title h2 {
    border-color:#a48044;
    color: #a48044;
    cursor: pointer;
}
.h1-team{
    margin-top: 20px;
    margin-bottom: 20px;
}
.team-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.team-h{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 90%;
    border: #a48044 dotted 2px;
}
.h1-team-members{
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;  
}
.box-1-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    padding: 30px;
    background-color: rgb(9, 9, 9);
    flex-direction: column;

}
.p-team{
    font-size: 16px;
    line-height: 40px;
}
.team-img{
    width: 50%;
}
.image-1{
    width: 220px;
    border: #a48044 4px solid;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 30px;
}
.team-1-block{
    width: 50%;
}
.team-text{
    text-align: justify;
    line-height: 30px;
    padding: 30px;
}
.small-class-team{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none; 
}
.hamburger-list-div{
    display: none;
}
.hamburger {
    display: none;
}
ul{
    padding: 0;
    list-style-type: none;
}

@media (max-width: 1250px){
    .small-class-team{
        flex-direction: column;
    }
    .image-1{
        margin: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 993px) {
    .navbar-nav{
    display: none;
    }
    .container{
        height: 120px;
        padding: 0;
    }
    .hamburger-list-div {
        background-color: #000;
        width: 100%;
        color: #fff;
        position: sticky;
        margin: 0;
        display: block;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        display: none;
    }
    .hamburger-list-div.visible {
        display: block;
    }
    .li-hamburger{
        list-style-type: none;
    }
    .int-collapse-menu{
        color: #fff;
        text-decoration: none;
        list-style-type: none;
        transition: all 0.2s ease-in-out;
    }
    .int-collapse-menu:hover{
        color: #a48044;
        text-decoration: none;
        border: #a48044 1px solid;
        padding: 8px;
    }
    .int-collapse-menu:visited{
        text-decoration: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border: none !important;
        box-shadow: none;
    }
    .hamburger {
        display: block;
        background-color: #000;
        color: #a48044;
        font-size: 18px;
        border: 1px solid #a48044;
        box-shadow: none;
    }
}

@media (max-width: 600px){
    .team-container{
        width: 95%;
    }
    .box-1-team{
       padding-left: 0;
       padding-right: 0;
    }
    .hamburger-list{
        width: 300px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .languages{
        display: none;
    }
    .languages-2{
        border-top: #a48044 1px dotted;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 10px;
		padding-bottom: 10px;
    }

}
@media (max-width: 500px) {
	.logo-calisia {
		width: 120px;
	}

	.navbar-collapse {
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: 0;
	}

	.container {
		height: 75px;
	}

	.navbar-default {
		justify-content: space-between;
		padding: 0;
	}
    .team-container{
        width: 95%;
    }
}
